{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CSV Graph Plotter - Upload</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav class="n1">
          <ul>       
            <li><a href="/">Logout/Login</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
    </header>

    <h1>Error</h1>
    {% if error_message %}
        <div class="error-message" style="display: block;">{{ error_message }}</div>
        <a href="/" class="back-button">Go Back to Home</a>
    {% endif %}
</body>
</html>
