

{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CSV Graph Plotter - Upload</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav class="n1">
          <ul>       
            <li><a href="/logout">Logout</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
    </header>

    <h1>Upload a CSV File</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload and Plot</button>
    </form>
</body>
</html>


