{% load static %}
<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <header>
        <nav class="n1">
          <ul>       
            <li><a href="/">Logout/Login</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
    </header>

        <div>
            <h3 >LOGIN</h3>
        </div>
        <div >
            <form method="POST" action="">
                <div>
                    {% csrf_token %}
                </div>
                <div>
                    <input type="text" name="username" placeholder="Username">
                </div>
                <div>
                        <input type="password" name="password" placeholder="Password">
                </div>

                <div >
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>  

        <div>
            <div>
                Don't have an account? <a href="/signup">Sign Up</a>
            </div>
        </div>
</body>

</html>