{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <nav class="n1">
          <ul>       
            <li><a href="/logout">Logout</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </nav>
    </header>

    <h1>Signup</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            {{form.username.label}}
            {{form.username}}
        </div>
        
        <div>
            {{form.email.label}}
            {{form.email}}
        </div>

        <div>
        {{form.password1.label}}
        {{form.password1}}
        </div>

        <div>
            {{form.password2.label}}
            {{form.password2}}
        </div>

        {% comment %} any error in filled form will be thrown here {% endcomment %}
        {{form.errors}}

        <div>
            <button type="submit">Register</button>
        </div>

    </form>
    <div>
        Already have an account? <a href="/login">Login</a>
    </div>
</body>
</html>