
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

header {
  text-align: center;
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  width: 100%;
}

.error-message {
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  background-color: #ffdddd;
  border: 1px solid #cc0000;
  color: #cc0000;
}

  nav {
  height: 40px;
  background-color: rgb(112, 22, 54);
  }

  nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  }

  nav ul li{
  list-style-type: none;
  margin: 0 23px;
  float: right;
  margin-right: 50px;
  }

  nav ul li a{
  text-decoration: none;
  color: white;
  }

  nav ul li a:hover{
  color: rgb(142, 161, 223);
  }

  .n1{
    font-size: 1.2rem;
  }

  

  
